services:
  mongo_claster1:   # Первая нода ( Primary)
    image: mongo:4.4
    container_name: mongo_claster1
    restart: always
    command: --replSet rs0 --bind_ip_all --keyFile /etc/keyfile
    volumes:
      - mongo_claster1_data:/data/db
      - /opt/mongo_claster/mongo_claster-keyfile:/etc/keyfile:ro
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'rs.status().ok || exit 1' | mongosh --quiet
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo_claster1_data:
